name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install OpenVPN
        run: |
          sudo apt update
          sudo apt install -y openvpn openvpn-systemd-resolved

      - name: OpenVPN-Connect
        uses: kota65535/github-openvpn-connect-action@v3.1.0
        with:
          config_file: ".github/workflows/config.ovpn"
          username: "20257520"
          password: ${{ secrets.OVPN_PASSWORD }}

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p 1233 -H 146.83.198.35 >> ~/.ssh/known_hosts

      - name: SSH and deploy
        run: |
          ssh -p 1233 njimenez@146.83.198.35 << 'EOF'
            export PATH="/home/njimenez/.local/share/fnm/:$PATH" 

            # Comandos de despliegue
            cd LibroConecta/
            git pull
            pm2 stop all
            cd frontend/
            npm install
            npm run build
            pm2 start all
            pm2 save

          EOF
